# Backend API
fastapi==0.110.2
uvicorn[standard]==0.30.1
aiofiles==23.2.1        # recomendado para servir estáticos

# Templates HTML
jinja2==3.1.3

# Web scraping
beautifulsoup4==4.12.3
requests==2.31.0

# Formularios/multipart
python-multipart==0.0.9

# Embeddings e indexación
llama-index==0.10.36
sentence-transformers==2.2.2

# Utilidades
tqdm==4.66.4



